*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Struttura del Container */
.container{
    background-color: blue;
    height: 100vh;
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    background: rgb(1,149,136);     
    background: linear-gradient(180deg, rgba(1,149,136,1) 25%, rgba(255,255,255,1) 0%);
}

.cont{
    background-color: aquamarine;
    max-width: 1000px;
    height: 600px;
}
/* Struttura dell'header del container e relativi contenuti */
.header-container{
    display: flex;
}
.header-left{
    width: 40%;
    height: 80px;
    background-color: #eaeaea;
    display: flex;
}
.header-left img{
    width: 20%;
    padding: 10px;
    border-radius: 50%;
}
.header-right{
    width: 60%;
    height: 80px;
    background-color: #eaeaea;
    display: flex;
}
.header-right img{
    width: 13%;
    padding: 10px;
    border-radius: 50%;
}
.header-right .icon{
    margin-left: 270px;
    padding-top: 30px;
}
.header-right .user-name{
   padding-top: 20px;
}
.header-right p {
    color: lightgray;
}
.user-name{
    padding-top: 30px;
    font-size: 15px;
}
.icon{
 margin-left: 140px;
 padding-top: 30px;
}
.icon i{
    color: grey;
    padding: 5px;
}
/* Struttura del main del container e relativi contenuti */
.contmain{
    display: flex;
}
.main-left{
    width: 40%;
    background-color: violet;
    height: 550px;
}
.main-right{
    width: 60%;
    background-image: url('../img/mine.jpg');
    height: 450px;
}
.square{
    background-color: white;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
.square i{
   padding: 10px;
   margin-top: 15px;
   color: lightskyblue;
}
.notes{
    background-color: #8edafb;
    padding: 10px;
    display: flex;
}
.contfooter{
    height: 80px;
    background-color: red;
    margin-top: 290px;
}
.searchbarleft{
    padding-left: 10px;
    padding-top: 10px;
    background-color: white;
    padding-bottom: 10px;
}
.searchbarleft i{
    color: grey;
    margin-right: 20px;
}
.searchbarleft input{
    width: 85%;
}
.gray{
    background-color: #fafafa;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 5px;
    padding-left: 10px;
    margin-right: 5px;
}
.contact{
    padding: 10px;
    height:430px;
    background-color: white;
}
.contact img{
    width: 20%;
    margin-right: 10px;
    border-radius: 50%;
}
.contact li{
    list-style: none;
    border-top: 1px solid black;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
}
.contfooter .gray{
    width: 100%;
    height: 100%;
}
.contfooter i {
    padding-top: 30px;
    margin-left: 10px;
    margin-right: 20px;
}
.contfooter input{
    width: 80%;
}
.message-container{
    width: 80%;
    margin: 0 auto;
    padding-top: 70px;
    display: flex;
    flex-direction: column;
}
.classmessage{
    min-width: 200px;
    max-width: 60%;
    padding-top: 20px;
    padding-left: 20px;
    border-radius: 15px;
    margin-bottom: 20px;
    
}

.recived{
    background-color: white;
    align-self: flex-start;
}
.sent{
    background-color: #d5f9ba;
    align-self: flex-end;
}