<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
  <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" href="css/style.css">
  <title>Boozapp</title>
</head>
<body>
  <!-- General Container -->
  <div class="container" id="root">
    <!-- What's app Container -->
    <div class="w-container">
      
      <!-- What's app A Side -->
      <aside>
        <div class="rectagle-mid background-grey">
          <div class="container-user-top">
            <div class="user-align">
              <img src="img\avatar_io.jpg" alt="user-avatar">
              <span class="user-font"> Nome Utente </span> 
            </div>
            <!-- What's app A Side icons -->
            <div class="logo">
              <i class="fa-solid fa-circle-notch"></i>
              <i class="fa-solid fa-message"></i>
              <i class="fa-solid fa-ellipsis-vertical"></i>
            </div>
          </div>
        </div>
        <!-- CTA -->
        <div class="container-user-top background-lightblue">
          <div class="user-align">
            <i class="fa-solid fa-bell-slash bell-style"></i>
            <div>
              <h4>Ricevi notifiche di nuovi messaggi</h4>
              <a href="#">attiva notifiche desktop</a>
            </div>      
          </div>       
        </div>
        <!-- Contact Search bar -->
        <div class="serch-bar background-grey">
          <i class="fa-solid fa-magnifying-glass glass-style"></i>
          <label for="search"></label>
          <input type="text" id="search" name="search" placeholder="Cerca o inizia una nuova chat" @keyup="filterelements()" v-model="userfilter">
        </div>

        <!-- Contacts -->
        <div class="contact-container">
          <ul class="contact-list">
            <!-- Print all messagges -->
            <li v-for="(contact, index) in contacts" @click="chatUser(index)" v-if="contact.visible" :class="{'background-grey': index === userActiveChat}">
              <div>
                <img :src="'img/avatar' + contact.avatar + '.jpg'" :alt="contact.name">
                <span>{{ contact.name }}
                  <span v-if="contact.messages.length > 0" class="last-access-text">
                    {{slicemessage(contact.messages[contact.messages.length - 1].text)}}
                  </span>
                  <span v-else class="last-access-text">
                    non ci sono conversazioni con {{contact.name}}
                  </span>
                </span>
              </div>
              
              <span v-if="contact.messages.length > 0" class="last-access-text grows">
                {{contact.messages[contact.messages.length - 1].date}}             
              </span>
            </li>
          </ul>
        </div>
      </aside>
      <!-- contact info -->
      <div class="main">
        <div class="container-user-top background-grey">
          <div class="user-align">
            <img :src="'img/avatar' + contacts[userActiveChat].avatar + '.jpg'" alt="user-avatar">
            <span class="user-font"> {{contacts[userActiveChat].name}}
              <span v-if="contacts[userActiveChat].messages.length > 0" class="last-access-text"> 
                ultimo accesso oggi alle {{contacts[userActiveChat].messages[contacts[userActiveChat].messages.length - 1].date}}
              </span>
            </span>
          </div>
          <!-- contact icons -->
          <div class="logo">
            <i class="fa-solid fa-magnifying-glass"></i>
            <i class="fa-solid fa-paperclip"></i>
            <i class="fa-solid fa-ellipsis-vertical"></i>
          </div>
        </div>
        <!-- chat and messages area -->
        <div class="background-container">
          <div class="message-container" v-show=" contacts[userActiveChat].messages.length > 0">
            <div class="message" v-for="(message,index) in contacts[userActiveChat].messages" :class="message.status === 'sent' ? 'w-sent' : 'w-recived'" >
              <div class="message-text-align">
                <span>{{message.text}}</span>
                <!-- Menù a tendina -->
                <i class="fa-solid fa-chevron-down" @click="curtainMenu(index)" ></i>
                <div class="d-none" :class="{'curtainMenu' : index === selectname}">
                  <span>info messaggio</span>
                  <span @click="messageDelete(index)">elimina messaggio</span>
                </div>
              </div>
              <span>{{message.date}}</span>
            </div>
          </div>
        </div>
        <!-- writing chat input -->
        <div class="container-user-top background-sand">
          <i class="fa-regular fa-face-smile bottom-icon-style"></i>
          <label for="send-message"></label>
          <textarea type="text" id="send-message" name="send-message" placeholder="Scrivi un messaggio" @keyup.enter="sendMessage()" v-model="userText"></textarea>
          <i class="fa-solid fa-microphone bottom-icon-style"></i>
        </div>
      </div>
    </div>
  </div>
  
  <script src="js/script.js"></script>
</body>
</html>